<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div id="logo">
                            <a href="/" style="font-family: 'Poiret One', cursive;">
                                <span class="logo-dark"><span class="first-word">Uncle</span><span class="second-word">Hookah</span></span>
                            </a>
                        </div>
                        <p class="mb-5 footer-info">График работы: 12:00-00:00<br> ИП Владыко Александр Дмитриевич, УНП 123456789, г. Минск, Беларусь</p>
                        <a data-bs-target="#modal-3" data-bs-toggle="modal" class="btn action-custom-btn btn-outline btn-roundeded btn-light footer-create-order-button">Заказать</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="widget-title">UncleHookah</div>
                                <ul class="list">
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">О нас</a></li>
                                    <li><a href="#">Контакты</a></li>
                                    <li><a href="#">Прайс-лист</a></li>
                                    <li><a href="#">Отзывы</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="widget-title">Наш блог</div>
                                <ul class="list">
                                    <li><a href="#">Инструкции</a></li>
                                    <li><a href="#">Информация</a></li>
                                    <li><a href="#">Полезные советы</a></li>
                                    <li><a href="#">Читать все</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="widget-title">Контакты</div>
                                <ul class="list">
                                    <li><a href="#">+375 (29) 101-90-90</a></li>
                                    <li><a href="#">unclehookah</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>