<header id="header" data-transparent="true" class="dark header-logo-center">
    <div class="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href="/" style="font-family: 'Poiret One', cursive;">
                    <span class="logo-dark"><span class="first-word">Uncle</span><span class="second-word">Hookah</span></span>
                </a>
            </div>
            <!--End: Logo-->
            <!-- Search -->
            <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                <form class="search-form" action="/" method="get">
                    <input class="form-control" name="q" type="text" placeholder="Поиск" />
                    <span class="text-muted">Поиск</span>
                </form>
            </div>
            <!-- end: search -->
            <!--Header Extras-->
            <div class="header-extras">
                <ul>
                    <li>
                        <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                    </li>
                    <li>
                        <div class="p-dropdown">
                            <a href="#"><i class="icon-globe"></i><span>RU</span></a>
                            <ul class="p-dropdown-content">
                                <li><a href="#">Русский</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end: Header Extras-->
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger">
                <a class="lines-button x"><span class="lines"></span></a>
            </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <!--Left Menu-->
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><a href="#about-us">О нас</a></li>
                            <li><a href="#about-us">Контакты</a></li>
                        </ul>
                        <!--Right Menu-->
                        <ul>
                            <li><a href="#prices">Прайс-лист</a></li>
                            <li><a href="#reviews">Отзывы</a></li>
                            <li><a href="" data-bs-target="#modal-3" data-bs-toggle="modal">Заказать</a></li>
                        </ul>

                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>